

# Ignore node_modules folder
node_modules

# Ignore Mac system files
.DS_store

# Ignore package-lock.json
package-lock.json


# Initial
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/